html {
    background: aliceblue;
  }
  
  h1{
    text-align: center;
    color: orangered
    
  }
  nav{
    width: px;
    border: 85px solid rebeccapurple;
    padding: 10px;
    margin: 20px;
  }
  
  ul {
    margin-left: 50px
  }
  
  div {
      width: px;
      border: 35px solid purple;
      padding: 35px;
      margin: 20px;
      text-align: center
    }
  
  img {
    border: 25px solid lightcoral; 
  }